*, *::before, *::after {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4E525B;
    box-shadow: 1px 1px 5px 1px grey;
}
#header {
    background-color: #4E525B;
}
#title {
    font-size: 3rem;
    margin: 20px;
    color: white;
}
#myForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
#upper-part {
    display: flex;
    gap: 10px;
}
#shopping {
    width: 30vw;
    color: white;
}