#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title {
    font-size: 3rem;
    margin: 20px;
}
#myForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
#upper-part {
    display: flex;
    gap: 10px;
}
#shooping {
    width: 30vw;
}